<h4 style="color:red;">Thanks to HackerYou and Ruby Brigade!</h4>
<lead>Click 'Add Your Phone!' to try it out.  SMS will send the message to the phone, Call & Speak will dial the number and convert the text to speech.</lead>


<table class="table table-striped table-bordered">
  <tr style="text-align:center">
    <th>Name</th>
    <th>Phone</th>
    <th>Message</th>
    <th>Voice</th>
    <th style="text-align:centre;">Actions</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.phone %></td>
    <td><%= client.message %></td>
    <td><%= client.voice %></td>
    <td >
    <%= link_to 'Edit', edit_client_path(client) , class: "btn" %>
    <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"  %>
    <%= link_to 'SMS', sms_client_path(client), class: "btn btn-success"  %>
    <%= link_to 'Call & Speak', makecall_client_path(client), class: "btn btn-danger" %></td>
 
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Your Phone!', new_client_path, class:"btn btn-large btn-primary" %>
